.slider{
    height:250px;
    margin:auto;
    position:relative;
    width:90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}


.slide-track{
    display: flex;
    width:calc(250px*18);
    animation:scroll 20s linear infinite;
    animation-delay: 0s;
}

@keyframes scroll{
    0%{
        transform: translateX(500px);
    }
   
    100%{
        transform: translateX(calc(-250px*9));
    }
}
.slide{
    height:200px;
    width:250px;
    display: flex;
    align-items: center;
    padding: 15px;
}

img{
    width: 100%;
}

